@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/* Ensures sections are one after the other as they should */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
    --font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-title: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;
    --header-padding: 4rem 0 0;
    --header-logo-position: relative;
    --header-logo-link-display: inline-block;
    --header-logo-link-position: absolute;
    --header-logo-link-top: -1rem;
    --header-logo-link-left: 0;
    --nav-item-font-family: var(--font-family-title);
    --nav-item-font-weight: var(--font-weight-bold);
    --nav-item-font-size: var(--font-size-medium);
    --nav-item-letter-spacing: 4%;
    --nav-item-display: inline-block;
    --nav-item-margin: 0 0 3rem;
    --nav-item-link-hover: var(--color-white);
    --section-padding: 5rem 0;
    --section-title-margin: 0;
    --section-title-color: var(--color-black);
    --section-header-align: center;
    --section-header-padding: 0 0 3rem;
    --section-tagline-margin: 0;
    --section-tagline-transform: uppercase;
    --section-body-padding: 0 0 3rem;
    --section-footer-align: center;
    --section-footer-padding: 3rem 0 0;
    --button-display: inline-block;
    --button-padding: 1.5rem 3rem;
    --button-border: 0.2rem solid var(--color-primary);
    --button-color: var(--color-black);
    --button-text-decoration: none;
    --button-font-size: var(--font-size-large);
    --button-hover-color: var(--color-white);
    --button-hover-text-decoration: none;
    --button-hover-background: var(--color-primary);
    --footer-padding: 5rem 0 1rem;
    --transition-duration: .3s;
    --transition-cubic-bezier: cubic-bezier(0.17, 0.67, 0, 1.01);
}

body {
    color: var(--text-color);
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
}

a:any-link {
    color: var(--text-color);
    text-decoration: none;
}

a:visited {
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}

a:active {
    background-color: var(--color-light-grey);
}

.visually-hidden {
    display: none;
}

/* adds padding above section headers */
.section {
    padding: var(--section-padding);
}

/* eg "Services", "we work with you" being centered */
.section-header {
    text-align: var(--section-header-align);
    padding: var(--section-header-padding);
}

/* no visible difference atp */
.section-body {
    padding: var(--section-body-padding);
}

/* "Get in touch" button at the bottom of the page */
.section-footer {
    padding: var(--section-footer-padding);
    text-align: var(--section-footer-align);
}

/* makes title (eg Services) prettier */
.section-title {
    font-family: var(--font-family-title);
    font-size: var(--font-size-xx-large);
    font-weight: var(--font-weight-bold);
    margin: var(--section-title-margin);
    color: var(--section-title-color);
}

/* makes tagline (eg "we work with you") prettier */
.section-tagline {
    color: var(--color-primary);
    font-family: var(--font-family-title);
    text-transform: var(--section-tagline-transform);
    font-weight: var(--font-weight-bold);
    margin: var(--section-tagline-margin);
}

.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/* no visible difference atm */
.card-category {
    color: var(--color-primary);
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
}

[data-section-theme="dark"] {
    --text-color: var(--color-white);
    --section-title-color: var(--color-white);
    background-color: var(--color-black);
    --button-color: var(--color-white)
}

.navbar-menu {
    float: right;
    /* margin: -5rem; */
}

nav {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav .nav-item {
    font-family: var(--nav-item-font-family);
    font-weight: var(--nav-item-font-weight);
    font-size: var(--nav-item-font-size);
    letter-spacing: var(--nav-item-letter-spacing);
    display: var(--nav-item-display);
    margin: var(--nav-item-margin);
}

nav .nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

nav .nav-link:hover {
    color: var(--nav-item-link-hover);
}

.header {
    padding: var(--header-padding);
}

.header-logo {
    position: var(--header-logo-position);
}

.header-logo a {
    display: var(--header-logo-link-display);
    position: var(--header-logo-link-position);
    top: var(--header-logo-link-top);
    left: var(--header-logo-link-left);
}

ul.row {
    margin: 0;
    padding: 0;
    list-style: none;
}

.row::after {
    content: none;
    display: table;
    clear: both;
    /* pas sûr de ça tbh */
}

[class^="col-"] {
    float: left;
    padding: 0.5rem;
}

.col-1-3 {
    width: 33.33%;
}

.col-1-2 {
    width: 50%;
}

.nav .nav-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    width: 0;
    height: 20%;
}

.nav .nav-item:hover .nav-link::before {
    background-color: var(--color-primary);
    width: 100%;
}

/* no visible difference atm */
.section-hero {
    background-size: 90rem;
}

/* Adds padding between "We help you..." and "Get started" button */
.section-hero .section-title {
    margin-bottom: 0, 0, 5rem;
}

/* no visible difference atm */
.section-hero .section-inner {
    padding: 10rem, 40rem, 2rem, 0;
}

.button {
    display: var(--button-display);
    padding: var(--button-padding);
    border: var(--button-border);
    font-size: var(--button-font-size);
    color: var(--button-color);
    text-decoration: var(--button-text-decoration);
}

.button:hover {
    color: var(--button-hover-color);
    text-decoration: var(--button-hover-text-decoration);
    background-color: var(--button-hover-background);
    transition-duration: var(--transition-duration);
    transition-property: color, background-color;
}

/* no visible difference atm */
.card-services .card-title {
    margin: 0;
}

/* Makes the huge boxes w/ UX Design, WebDev, SocMed etc appear*/
.card-services a {
    display: block;
    /* padding for the text itself*/
    padding: 2rem;
    background-color: var(--color-light-grey);
}

/* makes services pretty on hover */
.card-services a:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    text-decoration: none;
}

/* eg "Interior design"; invisible if not hovered */
.card-work .card-title {
    text-align: center;
    margin: 0;
    opacity: 0;
    height: 100%;
    position: relative;
}

/* Makes title visible on hover */
.card-work:hover .card-title {
    opacity: 1;
}

/* ':is()' was the culprit for making WebDev SocMed boxes huge */
.card-work .card-title a {
    display: block;
    text-decoration: none;
    padding-top: 45%;
}

.card-work .card-title a::after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: none;
}

/* ensures overflow doesn't mess things up */
.card-work .card-outer {
    position: relative;
    overflow: hidden;
}

/* little image reduction effect on hover*/
.card-work:hover .card-outer {
    transform: scale(0.95);
}

/* mostly adds padding under pictures atm */
.card-work .card-image img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

/* visual on image hover */
.card-work:hover .card-image img {
    transform: scale(1.2);
    transition: var(--transition-duration) var(--transition-cubic-bezier);
}

/* makes sure clickable is on image */
.card-work .card-inner {
    position: absolute;
    /* top pushes text a bit too low */
    top: -0.1rem;
    left: -0.1rem;
    right: -0.1rem;
    z-index: 1;
    transition: var(--transition-duration) var(--transition-cubic-bezier);
}

/* sets up the hover, semi-transp block */
.card-work:hover .card-inner {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Centers avatars for testimonial ppl */
.card-testimonial {
    text-align: center;
}

/* makes avatars round */
.card-testimonial .card-avatar {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

/* adds quote symbol */
.card-testimonial .card-quote::before {
    content: "\201C";
    position: absolute;
    top: -4.5rem;
    left: -1rem;
    color: #efeded;
    font-size: 10rem;
    z-index: -1;
}

/* actually adds quote symbol ??*/
.card-testimonial .card-quote {
    position: relative;
}

/* Beautifies names of quoted ppl */
.card-testimonial .card-quote cite {
    display: block;
    padding-top: 1rem;
    color: var(--color-primary);
}

/* adds a tiny little bit of room for footer w logo */
.footer {
    padding: var(--footer-padding);
}

/* Makes text white, pb since bground white too.. */
.footer-copyright {
    margin: 0;
    font-size: var(--font-size-small);
    color: var(--text-color);
}

footer ul {
    text-align: right;
}

.footer-address {
    color: var(--text-color);
}

.social-link {
    display: block;
}

.social-link svg {
    fill: var(--text-color);
}